<div class="margin" [ngStyle]='{width:40*dataService.length+"px"}'>
  <ng-container *ngFor="let a of arr; let i = index">
    <app-cell 
     *ngFor='let b of arr; let j = index'
     [row]='i'
     [col]='j'
     [solution]='IsSolution'
     [NewPlay]='IsNewPlay'>
    </app-cell>
    <br>
  </ng-container> 
</div>



<div class="pozisen"  [ngStyle]="{left:40*dataService.length+70+'px'}">
 <p><button class='btn btn-success width-button' (click)='solution()'>{{TextSolution}}</button></p>
 <p><button class='btn btn-warning width-button' (click)='NewPlay()'>משחק חדש</button></p>
 <p><button class='btn btn-danger width-button' [routerLink]='[""]'>שנה גודל</button></p>
</div>
