<div class="background p-3 mb-2 bg-secondary text-white" [style.height]='HeightBackground + "px"'>
    <div class="row">
        <div class="col-12 text-center">

            <h2><p>select type game:</p></h2>
            <h4><div class="form-check" >
                <input #s class="form-check-input" type="radio" name="typeGame" id="11" (input)='selectType(s.value)' value="solution">
                <label class="form-check-label" for="11">solution</label>
            </div></h4>
            
            <h4><div class="form-check">
                <input #p class="form-check-input" type="radio" name="typeGame"  id="12" (input)='selectType(p.value)' value="puzzle">
                <label class="form-check-label" for="12">puzzle</label>
            </div></h4>
            <br>
            
            <h2><p>select sub length:</p></h2>
            <p>
                <input 
                id=2
                class="input text-center"
                type='number'
                [(ngModel)]='subLength'
                [max]='dataservice.maxSubLength'
                [min]='dataservice.minSubLength' 
                [placeholder]='dataservice.defaultSubLength'>     
            </p>
            <div *ngIf="typeGame=='puzzle'">
                <p><select class="form-select" size="1" aria-label="size 3 select example" [(ngModel)]='difficulty'>
                    <option selected>select a difficulty level</option>
                    <option value="light">light</option>
                    <option value="med">med</option>
                    <option value="Hard">Hard</option>
                  </select></p>
            </div>
            <p><button id=3 class="button btn btn-light " (click)='move()' [disabled]="!typeGame || (typeGame=='puzzle'&& (!difficulty || difficulty=='select a difficulty level'))" >game</button></p>
        </div>
    </div>
</div>