<div class="background p-3 mb-2 bg-secondary text-white" [style.height]='HeightBackground + "px"'>
    <div class="row">
        <div class="col-12 text-center">
            <h2><p>select sub length:</p></h2>
            <input 
            id=0
            class="input text-center"
            type='number'
            [(ngModel)]='subLength'
            [max]='dataservice.maxSubLength'
            [min]='dataservice.minSubLength' 
            [placeholder]='dataservice.defaultSubLength'
            (click)='focusInput()'>  
            <br>
            <h2><p>select type game:</p></h2>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-1">
                    <button #s name="solving" id='1' (click)="setType(s.name)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success': typeGame!=s.name, 'btn-success':typeGame==s.name }">solving</button>
                </div>
                <div class="col-1">
                    <button #p name="puzzle" id='2' (click)="setType(p.name)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success':typeGame!=p.name, 'btn-success':typeGame==p.name}">puzzle</button>
                </div>
            </div>  
            <br>
                        
            <div *ngIf="typeGame=='puzzle'">
                <h2><p>select level game:</p></h2>
                <div  class="row">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <button #e name="easy" id='3' (click)="setLevel(e.name)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success': level!=e.name, 'btn-success':level==e.name }">{{e.name}}</button>
                    </div>
                    <div class="col-2">
                        <button #m name="medium" id='4' (click)="setLevel(m.name)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success':level!=m.name, 'btn-success':level==m.name}">{{m.name}}</button>
                    </div>
                    <div class="col-2">
                        <button #h name="hard" id='5' (click)="setLevel(h.name)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success':level!=h.name, 'btn-success':level==h.name}">{{h.name}}</button>
                    </div>
                </div>
                <br>
            </div>   
            <p><button id='6' class="button btn btn-light" (click)='move()' [disabled]="disabledB">start game</button></p>
        </div>
    </div>
</div>
