.background{
	width: 100%;
    align-self: center;
    word-wrap: break-word;
}

.input{
    text-align:center;
	width:70px;
	height:70px;
}

.button{
    position:absolute;
	left:50%;
	top:180px;
	width:250px;
	height:40px;
	margin:0 0 0 -100px;
}

input[type=number]:focus{
	outline-width: 0px; 
}

input[type=number]::-webkit-inner-spin-button{ 
    -webkit-appearance:none;  
}