<div class="background p-3 mb-2 bg-secondary text-white" [style.height]='HeightBackground + "px"'>
    <div class="row">
        <div class="col-12 text-center">
            <h2><p>select sub length:</p></h2>
            <input 
            id=2
            class="input text-center"
            type='number'
            [(ngModel)]='subLength'
            [max]='dataservice.maxSubLength'
            [min]='dataservice.minSubLength' 
            [placeholder]='dataservice.defaultSubLength'>  
            <br>
            <h2><p>select type game:</p></h2>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-1">
                    <button #s id='solving' (click)="setType(s.id)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success': typeGame!=s.id, 'btn-success':typeGame==s.id }">solving</button>
                </div>
                <div class="col-1">
                    <button #p id='puzzle' (click)="setType(p.id)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success':typeGame!=p.id, 'btn-success':typeGame==p.id}">puzzle</button>
                </div>
            </div>  
            <br>
                        
            <div *ngIf="typeGame=='puzzle'">
                <h2><p>select level game:</p></h2>
                <div  class="row">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <button #e id='easy' (click)="setLevel(e.id)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success': level!=e.id, 'btn-success':level==e.id }">{{e.id}}</button>
                    </div>
                    <div class="col-2">
                        <button #m id='medium' (click)="setLevel(m.id)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success':level!=m.id, 'btn-success':level==m.id}">{{m.id}}</button>
                    </div>
                    <div class="col-2">
                        <button #h id='hard' (click)="setLevel(h.id)" [ngClass]="{btn:true,'width-button':true,'btn-outline-success':level!=h.id, 'btn-success':level==h.id}">{{h.id}}</button>
                    </div>
                </div>
                <br>
            </div>   
            <p><button id=3 class="button btn btn-light " (click)='move()' [disabled]="!typeGame || (typeGame=='puzzle'&& (!difficulty || difficulty=='select a difficulty level'))" >game</button></p>
        </div>
    </div>
</div>
