.input{
	width: 70px;
	height: 70px;
}

.size-text{
	font-size:30px;
}

.button{
	width: 250px;
}

input[type=number]:focus{
	outline-width: 0px; 
}

input[type=number]::-webkit-inner-spin-button{ 
    -webkit-appearance:none;  
}